/* Essas são as variáveis para usar no site e ficar mais escalável a edição */
:root {

  /* Variáveis de Cores */
  --cor-branco: #d1d0d0;
  --cor-preto: #4f4f4f;
  --cor-principal: #000000;
  --cor-cinza-claro: #fdfafa;

  /* Variáveis de Fontes */
  --regular: 'SpaceGrotesk-Medium';
  --bold: 'SpaceGrotesk-Bold';
}

/* variável de cores degrade*/

:root {
  --gradient-titulo: linear-gradient(
    to top,
    rgba(140, 140, 140, 0.499), rgba(20, 20, 20, 0.937),  rgba(28, 28, 28, 0.937));
}
